@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

nav {
    width: 100%;
    height: 8rem;
    border-bottom: 0.1rem solid #dfe3ee;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr;
    grid-template-rows: 10% 40% 10%;
    gap: 10px;
    padding: 10px;
    list-style-type: none;
    overflow: hidden;
}
li {
    font-size: 0.8rem;
    font-weight: 600;
    padding-top: 2.8rem;
    text-align: center;
}

li a {
    display: block;
    color: black;
    text-decoration: none;
}

.brand {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 2.3rem;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
}
nav ul li:last-child {
    padding-top: 1.6rem;
}

nav ul li:last-child i {  
    padding-top: 1.6rem;
    background-color: black;
    color: #dfe3ee;
    width: 4rem;
    height: 4rem;
}

.container  {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 10% 40% 10%;
    gap: 20px;
    padding-top: 1.5rem;
}

.col ol {
    color: #848484;
    list-style-type: none;
}

.col ol li {
    display: inline;
}

.numbers ol li a {
    font-size: 2rem;
    line-height: 1.8;
    padding-top: 4rem;
    color: #848484;
}

#active {
    color: #333;
}

.content ol li:last-child::before {
    content: "\2e";
    font-family: "fontawesome";
    font-weight: 900;
    font-size: 3rem;
    color: red;
    margin-right: 0.2rem;
}

.content p.title {
    font-size: 5rem;
    font-weight: 900;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.content img {
    width: 100%;
}

.article {
    margin-top: 14rem;
}

.article span {
    color: #004000;
    padding: 1rem;
}

.article p {
    padding: 1rem;
}
.article p.h3 {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: 700;
} 

.article p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #848484;
}

.content ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.footer {
    width: 100%;
    height: 3rem;
    color: #848484;
    text-align: center;
    padding-top: 1rem;
    border-top: 0.1rem solid #dfe3ee;
    letter-spacing: 0.1rem;
}

.footer a {
    text-decoration: none;
}

.footer a:active, a:visited {
    color: #333;
}
.footer a:hover {
    color: #848484;
}